/* Zarovnat nadpis 'Filters' na střed */
.filters h3 {
    text-align: center; /* Zarovnat nadpis do středu */
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

/* Centrovat celý obsah filtrů kromě popisků */
.filters {
    margin-top: 20px;
    padding: 15px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrovat obsah sekce */
}

/* Popisky nad vstupy necháme zarovnané vlevo */
.filter-section {
    width: 100%; /* Zajistí, že obsah bude plně vyplňovat rodiče */
    text-align: left; /* Popisky zůstanou zarovnané vlevo */
    margin-bottom: 15px;
    font-size: 14px;
}



.filter-section select,
.filter-section input[type="number"] {
    width: 80%;
    padding: 8px 10px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.filter-section select {
    width: 93%; /* Nastavení šířky na 100 % rodičovského kontejneru */
}

.filter-section input[type="number"] {

    margin-bottom: 10px;
}


#apply-filters-button {
    width: 100%;
    padding: 12px 0;
    background-color: #333; /* Green background */
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#apply-filters-button:hover {
    background-color: #202521;
}

.filter-section select:focus,
.filter-section input[type="number"]:focus {
    border-color: #80bdff;
    outline: none;
}

.filter-section #filter-category-selection select {
    margin-bottom: 10px;
}

