/* Centered main layout with padding */
.main-layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px; /* Maximální šířka pro desktopové zobrazení */
    padding: 0 20px; /* Levé a pravé odsazení */
}

/* Sidebar styling */
.left-sidebar {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar-btn {
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.sidebar-btn:hover {
    background-color: #bbb;
}

.sidebar-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Offers styling */
.market-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px)); /* Fixed column width */
    gap: 20px;
}

.grid-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, visibility 0.3s, opacity 0.3s ease;
    min-height: 220px; /* Nastav výšku dle designu */
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offer-title, .price, .button-container {
    margin: 5px 0;
}

.button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-container button:hover {
    background-color: #0056b3;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.grid-item {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr; /* Rozdělení na horní, střední a dolní část */
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    height: 220px;
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item .top-section {
    background-color: #a8a8a8;
    border-radius: 8px 8px 0 0;
    margin: 0 0 -5px 0; /* Negativní spodní margin pro překrytí mezery */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100px; /* Nastavte výšku podle potřeby */
}

.grid-item .top-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item .middle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #d8d8d8;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-size: 16px;
    text-align: center;
    margin: 5px 0px; /* Zúžení čar na okrajích */

}

.grid-item .bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Rozdělení atributů na dvě části */
    align-items: center;
    gap: 5px;
}

.bottom-section p {
    margin: 0;
}

.bottom-section .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* Přidáme odsazení nad tlačítkem */
}

.bottom-section .button,
.bottom-section .edit-offer-button,
.bottom-section .delete-offer-button {
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 4px;
    padding: 8px 12px; /* Větší padding pro lepší vzhled */
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.bottom-section .button:hover,
.bottom-section .edit-offer-button:hover,
.bottom-section .delete-offer-button:hover {
    background-color: #bbb;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px; /* Přidáme padding kolem baru */
    background-color: #f1f1f1; /* Lehké pozadí pro kontrast */
    border: 1px solid #ddd; /* Jemný okraj */
    border-radius: 8px; /* Zaoblené rohy */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Jemný stín */
    max-width: 800px; /* Maximální šířka pro lepší vzhled */
    margin: 20px auto; /* Centrovat bar na stránce */
    margin-top: 115px;
}

.search-bar input {
    flex: 1; /* Umožní flexibilní šířku */
    padding: 12px 15px; /* Větší padding pro příjemnější užití */
    border: 1px solid #ccc; /* Decentní okraj */
    border-radius: 4px; /* Zaoblené rohy */
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Jemný vnitřní stín */
    margin-right: 10px; /* Mezera mezi vstupem a tlačítkem */
    transition: border-color 0.3s, box-shadow 0.3s; /* Animace při interakci */
}

.search-bar input:focus {
    outline: none; /* Odebrání standardního modrého obrysu */
    border-color: #007bff; /* Zvýraznění při focusu */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Zvýrazněný stín */
}

.search-bar button {
    background-color: #333; /* Stejná barva jako log-reg-buttons v navbaru */
    color: white; /* Barva textu bílá */
    border: 1px solid white; /* Bílý rámeček */
    border-radius: 5px; /* Zaoblené rohy */
    padding: 10px 20px; /* Stejný padding */
    font-size: 16px; /* Shodná velikost písma */
    cursor: pointer; /* Změna kurzoru na pointer */
    transition: background-color 0.3s ease; /* Animace při hoveru */
}

.search-bar button:hover {
    background-color: #575757; /* Stejná barva jako hover efekt v navbaru */
}

.search-bar button:active {
    transform: translateY(1px); /* Jemná změna při kliknutí */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Návrat na původní stín */
}

/* Offer Detail Sidebar */
.offer-detail-sidebar {
    position: fixed;
    top: 0;
    right: -78%; /* Hidden by default */
    width: 20%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    z-index: 1000;
    padding: 20px;
}

.offer-detail-sidebar.open {
    right: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header h2 {
    text-align: center;
    margin: 0 auto; /* Zarovnání na střed */
    font-size: 24px; /* Volitelně můžete změnit velikost písma */
    padding-top: 50px; /* Zvýší mezeru mezi nadpisem a formulářem */
    margin-bottom: 20px; /* Zvýší mezeru mezi nadpisem a formulářem */
}

.close-sidebar {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-sidebar:hover {
    color: #f00;
}

.sidebar-content p {
    margin: 10px 0;
}

.sidebar-content label {
    display: block;
    margin-top: 20px;
}

#order-quantity {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#place-order-button,
#follow-button,
#submitEditOfferForm {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #222222;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#place-order-button:hover,
#follow-button:hover,
#submitEditOfferForm:hover {
    background-color: #575757;
}

/* Form Styling */
#category-selection, #form-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#category-selection select, 
#form-fields input, 
#form-fields select,
#edit-offer-form input,
#edit-offer-form select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

#category-selection select:focus, 
#form-fields input:focus, 
#form-fields select:focus,
#edit-offer-form input:focus,
#edit-offer-form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

#form-fields label, 
#category-selection label,
#edit-offer-form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#form-fields button,
#edit-offer-form button {
    background-color: #222222;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#form-fields button:hover,
#edit-offer-form button:hover {
    background-color: #575757;
}
